# Exploring and Transforming JSON Schemas

# Introduction

In this lesson, we'll formalize how to explore a JSON file whose structure and schema is unknown to you. This often happens in practice when you are handed a file or stumble upon one with little documentation.

## Objectives
You will be able to:
* Explore unknown JSON schemas
* Access and manipulate data inside a JSON file
* Convert JSON to alternative data formats

## Loading the JSON file

Load the data from the file disease_data.json.

In [1]:
#Your code here 
import json
f = open('disease_data.json')
data = json.load(f)

## Explore the first and second levels of the schema hierarchy.

In [2]:
#Your code here
print(type(data))
print(data.keys())
print(type(data['meta']))
print(type(data['data']))

<class 'dict'>
dict_keys(['meta', 'data'])
<class 'dict'>
<class 'list'>

## Convert to a DataFrame

Create a DataFrame from the JSON file. Be sure to retrive the column names for the dataframe. (Search within the 'meta' key of the master dictionary.) The DataFrame should include all 42 columns.

In [3]:
#Your code here
import pandas as pd
df = pd.DataFrame(data['data'])
cols = [i['name'] for i in data['meta']['view']['columns']]
df.columns = cols
df.head(15)

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,YearStart,YearEnd,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,1,FF49C41F-CE8D-46C4-9164-653B1227CF6F,1,1527194521,959778,1527194521,959778,None,2016,2016,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
1,2,F4468C3D-340A-4CD2-84A3-DF554DFF065E,2,1527194521,959778,1527194521,959778,None,2016,2016,...,01,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
2,3,65609156-A343-4869-B03F-2BA62E96AC19,3,1527194521,959778,1527194521,959778,None,2016,2016,...,02,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
3,4,0DB09B00-EFEB-4AC0-9467-A7CBD2B57BF3,4,1527194521,959778,1527194521,959778,None,2016,2016,...,04,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
4,5,D98DA5BA-6FD6-40F5-A9B1-ABD45E44967B,5,1527194521,959778,1527194521,959778,None,2016,2016,...,05,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
5,6,49758545-682D-46D8-A9F8-0F98EFDDE64A,6,1527194521,959778,1527194521,959778,None,2016,2016,...,06,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
6,7,AEB36999-5746-463F-B921-97E404EEF234,7,1527194521,959778,1527194521,959778,None,2016,2016,...,08,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
7,8,FEBA783D-B277-4DAD-A93B-BF333F9B582D,8,1527194521,959778,1527194521,959778,None,2016,2016,...,09,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
8,9,85670BEF-2891-4372-A5AE-A4B7867CEEE9,9,1527194521,959778,1527194521,959778,None,2016,2016,...,10,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
9,10,E3B61235-D0C5-40F3-8B5F-E7D4A9509654,10,1527194521,959778,1527194521,959778,None,2016,2016,...,11,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
10,11,EE7B755F-2BDA-43E9-8ED9-00151A661E08,11,1527194521,959778,1527194521,959778,None,2016,2016,...,12,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
11,12,B3982FE6-9E5A-4B58-893A-E52AB5EABF6F,12,1527194521,959778,1527194521,959778,None,2016,2016,...,13,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
12,13,3A77CF41-36BF-49DB-A2C6-65AC406FBC3C,13,1527194521,959778,1527194521,959778,None,2016,2016,...,15,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
13,14,3CFCEAFB-9E3E-40C8-A81D-8C4E9FE9C125,14,1527194521,959778,1527194521,959778,None,2016,2016,...,16,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None
14,15,095F25C1-054C-4005-8E47-CEFD900CBCF1,15,1527194521,959778,1527194521,959778,None,2016,2016,...,17,ALC,ALC2_2,CRDPREV,OVERALL,OVR,None,None,None,None

## Level-Up
## Create a bar graph of states with the highest asthma rates for adults age 18+

## Level-Up!
## Create a function (or class) that returns an outline of the schema structure like this: 
<img src="outline.jpg" width=350>

Rules:
* Your outline should follow the numbering outline above (I, A, 1, a, i).
* Your outline should be properly indented! (Four spaces or one tab per indentation level.)
* Your function goes to at least a depth of 5 (Level-up: create a parameter so that the user can specify this)
* If an entry is a dictionary, list its keys as the subheadings
* After listing a key name (where applicable) include a space, a dash and the data type of the entry
* If an entry is a dict or list put in parentheses how many items are in the entry
* lists will not have key names for their entries (they're just indexed)
* For subheadings of a list, state their datatypes. 
* If a dictionary or list is more then 5 items long, only show the first 5 (we want to limit our previews); make an arbitrary order choice for dictionaries. (Level-up: Parallel to above; allow user to specify number of items to preview for large subheading collections.)

In [182]:
# Your code here; you will probably want to define subfunctions.
lvl_headers = [['I.', 'II.', 'III.', 'IV.', 'V.'],
                   ['A.', 'B.', 'C.', 'D.', 'E.'],
                   ['1.','2.','3.','4.','5.'],
                   ['a.', 'b.', 'c.', 'd.', 'e.'],
                   ['i.', 'ii.', 'iii.', 'iv.', 'v.']
                  ]

def print_obj_outline(json_obj,level = 0, preview = 5,  parent = 'dict'):
    
    if parent == 'list':
        
        
        for idx, num in enumerate (json_obj):
            if idx <= preview-1:
                print(" "*4*level,lvl_headers[level][idx%5],type(json_obj[idx]))

                if isinstance(json_obj[idx],dict):
                    print_obj_outline (json[idx],level+1,preview, 'dict')
                elif isinstance(json_obj[idx],list):
                    print_obj_outline (json_obj[idx],level+1,preview, 'list')
                    
    elif parent == 'dict':
        
        for idx, key in enumerate(json_obj.keys()):
            if idx <= preview-1:
                print(" "*4*level,lvl_headers[level][idx%5],key, type(json_obj[key]))
        
                if isinstance(json_obj[key],dict):
                    #print('DICT',key,idx,'\n')
                    print_obj_outline (json_obj[key],level+1,preview, 'dict')
                elif isinstance(json_obj[key],list):
                    #print('LIST',key,idx,'\n')
                    print_obj_outline (json_obj[key],level+1,preview, 'list')
    return

In [183]:
print_obj_outline(data,0,6)

 I. meta <class 'dict'>
     A. view <class 'dict'>
         1. id <class 'str'>
         2. name <class 'str'>
         3. attribution <class 'str'>
         4. attributionLink <class 'str'>
         5. averageRating <class 'int'>
         1. category <class 'str'>
 II. data <class 'list'>
     A. <class 'list'>
         1. <class 'int'>
         2. <class 'str'>
         3. <class 'int'>
         4. <class 'int'>
         5. <class 'str'>
         1. <class 'int'>
     B. <class 'list'>
         1. <class 'int'>
         2. <class 'str'>
         3. <class 'int'>
         4. <class 'int'>
         5. <class 'str'>
         1. <class 'int'>
     C. <class 'list'>
         1. <class 'int'>
         2. <class 'str'>
         3. <class 'int'>
         4. <class 'int'>
         5. <class 'str'>
         1. <class 'int'>
     D. <class 'list'>
         1. <class 'int'>
         2. <class 'str'>
         3. <class 'int'>
         4. <class 'int'>
         5. <class 'str'>
         1. <class 'int'>
     E. <class 'list'>
         1. <class 'int'>
         2. <class 'str'>
         3. <class 'int'>
         4. <class 'int'>
         5. <class 'str'>
         1. <class 'int'>
     A. <class 'list'>
         1. <class 'int'>
         2. <class 'str'>
         3. <class 'int'>
         4. <class 'int'>
         5. <class 'str'>
         1. <class 'int'>

In [179]:
2%5

2

In [117]:
print_obj_outline(data['data'])

1 <class 'int'> list
2 <class 'str'> list
3 <class 'int'> list
4 <class 'int'> list
5 <class 'str'> list

In [113]:
print(2, 'data', type(data['data'][0]),'non-list')

2 data <class 'list'> non-list

In [102]:
print(type(data['data']))
print(type(data['data'][0]))
print(type(data['data'][0][0]))
print(type(data['data'][0][1]))
print(type(data['data'][0][2]))
print(type(data['data'][0][3]))
print(type(data['data'][0][4]))

<class 'list'>
<class 'list'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>

In [15]:
#print('{}. {} {} ({} items)'.format(1, key, type(data['albums'][key]),len(data['albums'])))
print ('root', type(data), len(data.keys()))
key = 'meta'
print (key,type(data[key]), len(data[key]))
key2 = 'data'
print (key2,type(data[key2]), len(data[key2]))
key3 = 'view'
print (key3,type(data['meta'][key3]), len(data['meta'][key3]))

root <class 'dict'> 2
meta <class 'dict'> 1
data <class 'list'> 60266
view <class 'dict'> 40

In [22]:
outline = print_obj_outline(data)

In [23]:
print(outline) #Your function should produce the following output for this json object (and work for all json files!)

I. root - <class 'dict'> (2 items)
    A. meta <class 'dict'> (1 items)
        1. view <class 'dict'> (40 items)
            a. id <class 'str'>
            b. name <class 'str'>
            c. attribution <class 'str'>
            d. attributionLink <class 'str'>
            e. averageRating <class 'int'>
    B. data <class 'list'> (60266 items)
        1. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        2. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        3. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        4. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        5. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>

## Summary

Well done! In this lab you got some extended practice exploring the structure of JSON files and writing a recursive generalized function for outlining a JSON file's schema!